@charset "utf-8";

/* 상단 navbar 때문에 필요한 css*/
body{
   padding-top: 60px;
   background-color: #2d3436;
}

html, body {
   width: 100%;
   height: 100%;
}
      
body {
    background-color: #2d3436;
}

.carousel-control {
    width: 5%;
}



.items{
   width: 20%; height: 100%; float: left; padding: 2px;
}

.items img{
   width: 100%; height: 100%;
}


textarea{
   margin: 0px; height: 74px; width: 965px;
}

iframe{
   width: 968px; height: 725px; 
}