@charset "utf-8";

/* 상단 navbar 때문에 필요한 css*/
body{
   padding-top: 60px;
   background-color: #2d3436;
}

html, body {
   width: 100%;
   height: 100%;
}
      
body {
    background-color: #2d3436;
}

.carousel-control {
    width: 5%;
}

.items{
   width: 25%; height: ;float: left; padding: 2px;
}

.items img{
   width: 100%; height: 100%;
}

.modal-content{
   width: 1000px; position: relative; left: 50%; transform:translateX(-50%);
}

.modal-body{
   display: flex;
}

.modal-body img{
   width: 50%; height: auto; margin-right: 10px;
}

.modal-footer Strong{
   float: left;
}

textarea{
   margin: 0px; height: 74px; width: 965px;
}

iframe{
   width: 968px; height: 725px; 
}