@charset "utf-8"; /* 한글 깨지지 않도록 */
/* 글 내용을 출력할 div 에 적용할 css */
.contents, table{
	width: 100%;
	border: 1px dotted #cecece;
	box-shadow: 3px 3px 5px 6px #ccc;
	margin-top: 20px;
}
/* 댓글에 관련된 css */
.comments ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.comments ul li{
	border-top: 1px solid #888; /* li 의 윗쪽 경계선 */
}
.comments dt{
	margin-top: 5px;
}
.comments dd{
	margin-left: 26px;
}
.comments form textarea, .comments form button{
	float: left;
}
.comments li{
	clear: left;
}
.comments form textarea{
	width: 81%;
	height: 73px;
}
.comments form button{
	width: 12%;
	height: 73px;
}
/* 댓글에 댓글을 다는 폼과 수정폼을 일단 숨긴다. */
.comment form{
	display: none;
}
.comment{
	position: relative;
}
.comment .reply_icon{
	width: 8px;
	height: 8px;
	position: absolute;
	top: 10px;
	left: 30px;
}
.comments .user-img{
	width: 20px;
	height: 20px;
	border-radius: 10%;
}
#user-img{
	width: 7%;
	height: 73px;
	float: left;
}