@charset "utf-8";
.poster-hover .box-content,
.poster-hover:after{position:absolute;left:20px;right:20px}
.poster-hover:after{content:"";display:block;background:#2d3436;
top:20px;bottom:20px;opacity:0;transform:rotate3d(-1,1,0,100deg);transition:all .4s ease-in-out 0s}
.poster-hover:hover:after{opacity:.9;transform:rotate3d(0,0,0,0deg)}
.poster-hover .box-content{top:45%;opacity:0;z-index:1;-webkit-transform:translate(10%,-30%);transform:translate(10%,-30%);transition:all .2s ease-out 0s}
.poster-hover:hover .box-content{opacity:1;transform:translate(0,-50%);transition-delay:.2s}
.poster-hover .title{display:block;font-size:22px;font-weight:700;color:#FFC300;margin:0 0 10px}
.poster-hover .post{display:block;font-size:15px;color:#f7f7b9;margin-bottom:20px}