<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie">
	<select id="getList" parameterType="movieDto" resultType="movieDto">
		select * from movie	
			<choose>
				<when test="genre != null">		<!-- 장르리스트 -->
					<choose>
						<when test="title != null">			<!-- 장르리스트-제목정렬   됨 -->
							where genre like '%${genre}%'
							order by title asc
						</when>	
						<when test="releaseDate != null">	<!-- 장르리스트-출시일정렬    됨-->
							where genre like '%${genre}%'
							order by releaseDate asc
						</when>
						<otherwise>							<!-- 장르리스트-번호정렬   됨-->
							where genre like '%${genre}%'
							order by num asc
						</otherwise>
					</choose>
				</when>
				
				<otherwise>						<!-- 검색리스트 -->
					<choose>
						<when test="title != null">			<!-- 검색리스트-제목정렬    됨-->
							where title like '%${title}%'
							order by title asc
						</when>
						<when test="releaseDate != null">	<!-- 검색리스트-출시일정렬    안됨-->
							where title like '%${title}%'
							order by releaseDate asc
						</when>
						<otherwise>							<!-- 검색리스트-번호정렬     됨-->
							where title like '%${title}%'
							order by num asc
						</otherwise>
					</choose>
				</otherwise>
			</choose>
		
	</select>
	
	<select id="getCount" parameterType="movieDto" resultType="int">
		select nvl(max(rownum),0)
		from movie
		<if test="title != null">
			where title like '%${title}%'
		</if>
	</select>
	
</mapper>