<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="favorite">


	
	
	<select id="favoriteList" resultType="favoriteDto">
		select * from favorite
		order by movieSeq asc
	</select>
	
	
	<insert id="insert" parameterType="favoriteDto">
		INSERT INTO favorite
		(NUM, id, movieId, movieSeq, repRlsDate, genre, title, poster)
		VALUES(Favorite_Seq.NEXTVAL, 
		#{id, jdbcType=VARCHAR}, 
		#{movieId, jdbcType=VARCHAR}, 
		#{movieSeq, jdbcType=VARCHAR}, 
		#{repRlsDate, jdbcType=VARCHAR}, 
		#{genre, jdbcType=VARCHAR}, 
		#{title, jdbcType=VARCHAR}, 
		#{poster, jdbcType=VARCHAR} )
	
	</insert>
	
	
	<select id="getData" parameterType="String" resultType="favoriteDto">
		SELECT NUM, movieId, movieSeq, repRlsDate, genre, title, poster
		FROM favorite
		WHERE id=#{id}
	</select>
	
	<select id="getCount" parameterType="int" resultType="favoriteDto">
		SELECT count(movieId)
		FROM favorite
		WHERE id=#{id}
	</select>
	
	<delete id="delete" parameterType="String">
		DELETE FROM favorite
		WHERE movieId=#{movieId} and id=#{Id}
	</delete>
	
</mapper>