<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="favorite">


	
	
	<select id="isExist" parameterType="FavoriteDto" resultType="String">
		select movieSeq from favorite
		where id=#{id} and movieSeq=#{movieSeq}
	</select>
	
	
	<insert id="insert" parameterType="FavoriteDto">
		INSERT INTO favorite
		(num, id, movieId, movieSeq, repRlsDate, genre, title, posters)
		VALUES(Favorite_Seq.NEXTVAL, 
		#{id}, 
		#{movieId}, 
		#{movieSeq}, #{repRlsDate}, #{genre}, #{title}, 
		#{posters})
	
	</insert>
	
	
	<select id="getData" parameterType="String" resultType="String">
		SELECT movieId,movieSeq
		FROM favorite
		WHERE id=#{id}
	</select>
	
	<select id="getCount" parameterType="String" resultType="int">
		SELECT count(movieId)
		FROM favorite
		WHERE id=#{id}
	</select>
	
	<delete id="delete" parameterType="FavoriteDto">
		DELETE FROM favorite
		WHERE movieSeq=#{movieSeq} and id=#{id}
	</delete>
	
</mapper>