<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie">
	<delete id="initMovie">
		delete movie
	</delete>
	
	<insert id="updateMovie" parameterType="movieDto">
		insert into movie
		values(#{rank},#{movieId}, #{movieSeq}, #{title}, #{titleEng}, #{genre}, #{director}, #{actor}, #{plot}, #{runtime}, #{repRlsDate}, #{keywords}, #{posters})
	</insert>
	
	<select id="getHomeList" resultType="movieDto">
		select * from movie
		order by rank asc
	</select>
	
	<select id="getData" parameterType="int" resultType="movieDto">
		SELECT result1.*
		FROM
			(SELECT num, title, content, releaseDate,
			director, actor, starPoint, imageLink, videoLink
			FROM movie
			ORDER BY num DESC) result1
		WHERE num=#{num }
	</select>
	
	<select id="getRankList" resultType="movieRankDto" parameterType="MovieRankDto">
		SELECT rank, title, starPoint, link
		from movie_rank
		WHERE rank BETWEEN #{startRowNum} AND #{endRowNum} <!-- 파라미터에서 startRowNum, endRowNum 을 가져온다. -->
	</select>
	<insert id="updateRank" parameterType="movieRankDto">
		insert into movie_rank
		values(
			#{rank}, #{title}, #{starPoint}, #{link}
		)
	</insert>
	<delete id="deleteRank">
		delete movie_rank
	</delete>
	
	<!-- 글 전체의 갯수를 리턴하는 메소드 -->
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0) <!-- NVL 를 안적어주면 resultType 이 int 인데 ROWNUM 에 null이 들어가므로 Exception 이 발생한다 -->
		FROM movie_rank
	</select>
	
	<!-- 영화의 제목, 랭킹, 별점 얻어오는 메소드 -->
	<select id="getInfo" parameterType="movieDto" resultType="movieRankDto">
		SELECT rank, title, starPoint
		FROM movie_rank
		WHERE title=#{title}
	</select>
</mapper>