<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movieComment">
	<select id="getList" parameterType="int" resultType="movieCommentDto">
		SELECT num, writer, content, target_id, ref_group,
			comment_group, deleted, movie_comment.regdate, profile,recommendCnt
		FROM movie_comment
		INNER JOIN users
		ON movie_comment.writer = users.id
		WHERE ref_group=#{ref_group}
		ORDER BY comment_group ASC, num ASC
	</select>
	<update id="delete" parameterType="int">
		UPDATE movie_comment
		SET deleted='yes', recommendCnt=0
		WHERE num=#{num}
	</update>
	<insert id="insert" parameterType="movieCommentDto">
		INSERT INTO movie_comment
		(num, writer, content, target_id, ref_group, comment_group, regdate)
		VALUES(#{num}, #{writer}, #{content}, #{target_id}, #{ref_group}, #{comment_group}, SYSDATE)
	</insert>
	<select id="getSequence" resultType="int">
		SELECT movie_comment_seq.NEXTVAL
		FROM DUAL
	</select>
	
	<update id="update" parameterType="movieCommentDto">
		UPDATE movie_comment
		SET content=#{content}
		WHERE num=#{num}
	</update>
	<update id="upCnt" parameterType="int">
		UPDATE movie_comment
		SET recommendCnt=recommendCnt+1
		WHERE num=#{num}
	</update>
	<update id="downCnt" parameterType="int">
		UPDATE movie_comment
		SET recommendCnt=recommendCnt-1
		WHERE num=#{num}
	</update>
	<select id="getBestList" parameterType="int" resultType="movieCommentDto">
		select result.*
		from (select num, writer, content, recommendCnt ,rownum
	  		from movie_comment 
	  		WHERE ref_group=#{ref_group} and recommendCnt > 0
	  		order by recommendCnt desc) result
		where rownum between 1 and 3
	</select>
</mapper>






